@using DACN_N3.Data
@model List<Movie>
@{
	ViewData["Title"] = "Home Page";
    int moviesPerItem = 5; // Số lượng phim trên mỗi carousel item
    int totalMovies = Model.Count(); // Tổng số phim
    int totalItems = (int)Math.Ceiling((double)totalMovies / moviesPerItem); // Tổng số carousel item
}
<section class="banner">
	<div class="container">
        <img style="height: 650px" src="~/img/doraemon-film_d6ct.1280.webp" alt="Phim Nổi Bật">
        <div style="position: absolute; top: 560px; left: 18%; padding: 10px">
            <button type="submit" class="btn btn-light btn-lg" onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = @ViewBag.RandomMovies.MovieId })'"><i class="fa-solid fa-play"></i> <strong>Phát</strong></button>
        </div>
	</div>
</section>

<section class="movies">
   
    <div class="container">
       
        <div class="d-flex align-items-center">
            <!-- Tiêu đề -->
            <h2 class="me-3">Phim Mới Nhất</h2>
            <!-- Button để mở modal -->
            <button type="button" style="margin-bottom:10px" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#myModalFullScreen">
                Xem thêm
            </button>
        </div>
        <!-- Modal với id mới -->
        <div class="modal fade" id="myModalFullScreen" tabindex="-1" aria-labelledby="myModalFullScreenLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background:#212529; color:white;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalFullScreenLabel">Danh sách các phim mới</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-start">
                            @foreach(var movie in Model)
                            {
                                <div class="me-3" style="height: 300px; width: 200px">
                                    <img src="~/img/@movie.Poster" class="rounded d-block w-100 h-100" alt="Phim @movie.MovieId" onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = movie.MovieId})'">
                                </div>
                            }                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < totalItems; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row" style="display:inline-flex">
                            @for (int j = 0; j < moviesPerItem; j++)
                            {
                                int movieIndex = i * moviesPerItem + j;
                                if (movieIndex < totalMovies)
                                {
                                    var movie = Model[movieIndex];
                                    <div class="col" style="height: 300px; width: 200px">
                                        <img src="~/img/@movie.Poster" class="d-block w-100 h-100" alt="Phim @movie.MovieId"
                                             onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = movie.MovieId })'">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                <!-- Add more items as needed -->
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" style="background-color:#3333; margin-left:-50px;width:50px;" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="background-color:#3333; margin-right:-50px;width:50px;" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br />

        <div class="d-flex align-items-center">
            <!-- Tiêu đề -->
            <h2 class="me-3">Phim hoạt hình</h2>
            <!-- Button để mở modal -->
            <button type="button" style="margin-bottom:10px" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#myModalFullScreen2">
                Xem thêm
            </button>
        </div>
        <!-- Modal với id mới -->
        <div class="modal fade" id="myModalFullScreen2" tabindex="-1" aria-labelledby="myModalFullScreenLabel2" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background:#212529; color:white;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalFullScreenLabel2">Danh sách các phim hoạt hình</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-start">
                            @foreach (var movie in ViewBag.AnimeMovies)
                            {
                                <div class="me-3" style="height: 300px; width: 200px">
                                    <img src="~/img/@movie.Poster" class="rounded d-block w-100 h-100" alt="Phim @movie.MovieId" onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = movie.MovieId})'">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="movieCarousel2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Math.Ceiling((double)ViewBag.AnimeMovies.Count / moviesPerItem); i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")" >
                        <div class="row" style="display:inline-flex">
                            @for (int j = 0; j < moviesPerItem; j++)
                            {
                                int movieIndex = i * moviesPerItem + j;
                                if (movieIndex < ViewBag.AnimeMovies.Count)
                                {
                                    var movie = ViewBag.AnimeMovies[movieIndex];
                                    <div class="col" style="height: 300px; width: 200px">
                                        <img src="~/img/@movie.Poster" class="d-block w-100 h-100" alt="Phim @movie.MovieId" onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = movie.MovieId })'">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                <!-- Add more items as needed -->
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" style="background-color:#3333; margin-left:-50px;width:50px;" type="button" data-bs-target="#movieCarousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="background-color:#3333; margin-right:-50px;width:50px;" type="button" data-bs-target="#movieCarousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <br />
        <div class="d-flex align-items-center">
            <!-- Tiêu đề -->
            <h2 class="me-3">Phim tội phạm</h2>
            <!-- Button để mở modal -->
            <button type="button" style="margin-bottom:10px" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#myModalFullScreen3">
                Xem thêm
            </button>
        </div>
        <!-- Modal với id mới -->
        <div class="modal fade" id="myModalFullScreen3" tabindex="-1" aria-labelledby="myModalFullScreenLabel3" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background:#212529; color:white;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalFullScreenLabel3">Danh sách các phim tội phạm</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-start">
                            @foreach (var movie in ViewBag.CrimeMovies)
                            {
                                <div class="me-3" style="height: 300px; width: 200px">
                                    <img src="~/img/@movie.Poster" class="rounded d-block w-100 h-100" alt="Phim @movie.MovieId" onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = movie.MovieId})'">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="movieCarousel3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Math.Ceiling((double)ViewBag.CrimeMovies.Count / moviesPerItem); i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row" style="display:inline-flex">
                            @for (int j = 0; j < moviesPerItem; j++)
                            {
                                int movieIndex = i * moviesPerItem + j;
                                if (movieIndex < ViewBag.CrimeMovies.Count)
                                {
                                    var movie = ViewBag.CrimeMovies[movieIndex];
                                    <div class="col" style="height: 300px; width: 200px">
                                        <img src="~/img/@movie.Poster" class="d-block w-100 h-100" alt="Phim @movie.MovieId" onclick="window.location.href='@Url.Action("FilmDetails", "Home", new { id = movie.MovieId })'">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                <!-- Add more items as needed -->
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" style="background-color:#3333; margin-left:-50px;width:50px;" type="button" data-bs-target="#movieCarousel3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="background-color:#3333; margin-right:-50px;width:50px;" type="button" data-bs-target="#movieCarousel3" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var loginAlert = '@TempData["LoginAlert"]';
        if (loginAlert) {
            Swal.fire({
                title: 'Thông báo',
                text: "Vui lòng đăng nhập để xem chi tiết phim!",
                icon: 'warning',
                confirmButtonText: 'Đăng nhập',
                showCancelButton: true,
                cancelButtonText: 'Hủy',
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Login", "Authority")';
                }
            });
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var SubscriptionAlert = '@TempData["SubscriptionAlert"]';
        if (SubscriptionAlert) {
            Swal.fire({
                title: 'Thông báo',
                text: "Vui lòng đăng ký gói để xem chi tiết phim!",
                icon: 'warning',
                confirmButtonText: 'Đăng ký',
                showCancelButton: true,
                cancelButtonText: 'Hủy',
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-secondary'
                },
                buttonsStyling: false
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Subscription", "Home")';
                }
            });
        }
    });
</script>

