@using DACN_N3.Data;
@{
    ViewData["Title"] = "subscription";
    var subscriptions = ViewBag.Subscription as List<Subscription> ?? new List<Subscription>();

}

<div class="subscription-container">
@foreach(var subscription in subscriptions)
    {
        <div class="subscription-card">
            <div class="price">@subscription.Price VND</div>
            <hr />
            <div class="package-info">
                <h3>@subscription.Name</h3>
                <h3> Thời lượng: @subscription.Duration ngày</h3>
            </div>
            <hr />
            <form method="post" asp-action="CreatePaymentMomo" asp-controller="Payment">
                <input type="hidden" name="Amount" value="@subscription.Price" />
                <input type="hidden" name="OrderId" value="@Guid.NewGuid().ToString()" />
                <input type="hidden" name="OrderInfo" value="Thanh toán momo cho @subscription.Name" />
                <input type="hidden" name="FullName" value="@ViewBag.userName" />
                <button class="subscribe-button" name="PayUrl" type="submit">Đăng Ký</button>
            </form>
        </div>
    }
</div>
