@using DACN_N3.Models.Momo
 @model MomoExecuteResponseModel
@{
	ViewData["title"] = "kết quả giao dịch thành công";


	var receiver = "Datcopw123@gmail.com";
	var subject = "Thanh toán gói tháng ComfyMovie";
	var message = "Thanh toán đặt vé thành công, chúc bạn có những phút giây xem phim thư giản";
	await _emailSender.SendEmailAsync(receiver, subject, message);
}
<div style="color:white;">
	<h5>Thanh toán MOMO thành công với:</h5>
	<h6>OrderId: @Model.OrderId</h6>
	<h6>OrderInfo: @Model.OrderInfo</h6>
	<h6>Tổng tiền: @Model.Amount</h6>
	<h6>@Model.PaymentType</h6>
	<button class="btn btn-outline-light" onclick="window.location.href='@Url.Action("index", "Home")'">Về trang chủ</button>
</div>

