
@using DACN_N3.Data
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DACN_N3</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	@inject DACN_N3.Data.MovieDbContext _movieDbContext
	@{
		var userID = Context.Session.GetInt32("userID");
		if (userID.HasValue)
		{
			var userName = _movieDbContext.Users
			.Where(u => u.UserId == userID.Value)
			.Select(u => u.Username)
			.FirstOrDefault();

			ViewBag.userName = userName;
		}
	}
	<header>
		<div class="container">
			<div class="logo">
				<img src="/img/logo.png" alt="Logo">
			</div>
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="container-fluid">
					<ul class="navbar-nav me-auto" style="width: 1080px;">
						<li class="nav-item">
							<a class="nav-link" onclick="window.location.href='@Url.Action("Index", "Home")'">Trang Chủ</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Thể loại
							</a>
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="max-height: 300px; overflow-y: auto; width: 300px;">
								<div class="row g-2"> <!-- Dùng g-2 để tạo khoảng cách giữa các cột -->
									@foreach (var genre in ViewBag.AllGenres as List<Genre>)
									{
										if (genre != null)
										{
											<div class="col-4"> <!-- 3 cột cho mỗi hàng -->
												<li class="dropdown-item" style="margin-bottom: 10px;">
													<a href="@Url.Action("listFilm", "Home", new { id = genre.GenreId })">@genre.Name</a>
												</li>
											</div>
										}
									}
								</div>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("ListFilmFav", "Home")">Phim yêu thích</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("buyTicket", "Home")">Xem phim tại rạp</a>
						</li>
						<li class="nav-item ms-auto">
							<input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
						</li>
						<li class="nav-item dropdown">
							@if (User.Identity.IsAuthenticated)
							{
								<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									@ViewBag.userName
								</a>
								<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
									<li><a class="dropdown-item" onclick="window.location.href='@Url.Action("subscription", "Home")'">Thông tin gói</a></li>
									<li><a class="dropdown-item" onclick="window.location.href='@Url.Action("Logout", "Authority")'">Đăng Xuất</a></li>

									
								</ul>
								
							}
							else
							{
								<a class="nav-link" onclick="window.location.href='@Url.Action("Login", "Authority")'">Đăng Nhập</a>
							}
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<div class="container-fluid" style="background:#212529; min-height:750px;">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			<p>&copy; 2024 Website Xem Phim Online. All rights reserved.</p>
			<ul>
				<li><a href="#">Liên Hệ</a></li>
				<li><a href="#">Điều Khoản Sử Dụng</a></li>
				<li><a href="#">Chính Sách Bảo Mật</a></li>
			</ul>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
	window.onbeforeunload = function () {
		// Gửi yêu cầu logout trước khi đóng trang
		fetch('/Authority/Logout', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			credentials: 'same-origin'
		});
	};
</script>